@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/vlg8jnr.css');

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grecaptcha-badge {
  display: none !important;
}
